:root {
  --container-padding: 0rem 6rem;
  --main-transition: all 0.2s ease-in-out;
  --text-spacer: 2rem 0rem;
  --darkest: #0d0221;
  --lightest: #f4d676;
  --cyan: #36cdc4;
  --purple: #5c2686;
  --pink: #ff1690;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--darkest);
}

body.hide {
  position: fixed;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 2rem 6rem;
  position: absolute;
  width: 100%;
  z-index: 5;
}

header h1 {
  color: var(--lightest);
  font-family: "Knewave", cursive;
  font-size: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
}

.line-1 {
  background: var(--lightest);
  width: 30px;
  height: 6px;
}

.line-2 {
  margin-top: 4px;
  background: var(--lightest);
  width: 18px;
  height: 4px;
  animation-name: move;
}

.line-3 {
  margin-top: 4px;
  background: var(--lightest);
  width: 12px;
  height: 2px;
}

.hamburger:hover .line-2 {
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.hamburger:hover .line-3 {
  animation-name: move-two;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes move {
  0% {
    margin: 4px 0 0 0;
  }
  25% {
    margin: 4px 4px 0 0;
  }
  50% {
    margin: 4px 0 0 0;
  }
  75% {
    margin: 4px 0 0 4px;
  }
  100% {
    margin: 4px 0 0 0;
  }
}

@keyframes move-two {
  0% {
    margin: 4px 0 0 0;
  }
  25% {
    margin: 4px 0 0 4px;
  }
  50% {
    margin: 4px 0 0 0;
  }
  75% {
    margin: 4px 4px 0 0;
  }
  100% {
    margin: 4px 0 0 0;
  }
}

video {
  width: 100%;
}

.hidden-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--darkest), var(--cyan));
  mix-blend-mode: color;
  pointer-events: none;
}

.hidden-menu {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  color: var(--lightest);
  background: var(--darkest);
  clip-path: inset(0 0 100% 0);
  transition: all 0.4s ease-in-out;
  padding: 8rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.25;
}

.hidden-menu ul {
  list-style: none;
  z-index: 5;
  color: var(--lightest);
}

.hidden-menu ul li {
  font-size: 2rem;
  padding: 2rem 0rem;
}

.hidden-menu h2 {
  font-size: 4rem;
}

.hidden-menu.active {
  height: 100vh;
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

.menu-vid {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.page-container {
  overflow: hidden;
  padding: var(--container-padding);
  font-family: "Slabo 27px", serif;
}

.page-section {
  background: var(--darkest);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2rem;
  color: #fff;
}

.section-text-content {
  width: 100%;
  background: var(--darkest);
  padding: 2rem 3rem;
  position: relative;
}

.section-text-content h2 {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--pink);
  margin: var(--text-spacer);
}

.section-text-content p {
  font-size: 1.3rem;
  color: var(--lightest);
  margin: var(--text-spacer);
}

.section-text-content button {
  background: var(--darkest);
  margin: 1rem 0rem;
  color: var(--cyan);
  outline: none;
  border: solid 2px var(--cyan);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  transition: var(--main-transition);
}

.section-text-content button:hover {
  background: var(--cyan);
  border: solid 2px var(--darkest);
  color: var(--darkest);
}

.page-section img {
  width: 100%;
  max-width: 700px;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  margin-right: 2rem;
}

.text-reveal {
  position: absolute;
  background: var(--darkest);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* MOBILE ------------------------------------------- */
@media screen and (max-width: 1260px) {
  header {
    padding: 1rem 1rem;
    top: 0;
  }

  .page-container {
    padding: 1rem 1rem;
    margin-top: 4rem;
  }

  .page-section {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 4rem 0rem;
  }

  .section-text-content {
    width: 100%;
    border: none;
    padding: 1rem 0rem;
  }

  .section-text-content h2 {
    font-size: 3rem;
  }

  .section-text-content p {
    font-size: 1.2rem;
  }

  .page-section img {
    margin: 0;
    max-width: 100%;
  }
}
