:root {
  --container-padding: 0rem 6rem;
  --main-transition: all 0.2s ease-in-out;
  --text-spacer: 2rem 0rem;
  --darkest: #0d0221;
  --lightest: #f4d676;
  --cyan: #36cdc4;
  --purple: #5c2686;
  --pink: #ff1690;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--darkest);
}

body.hide {
  position: fixed;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 2rem 6rem;
  position: absolute;
  width: 100%;
  z-index: 5;
}

header h1 {
  color: var(--lightest);
  font-family: "Knewave", cursive;
  font-size: 2rem;
  transition: var(--main-transition);
}

header h1:hover {
  color: var(--pink);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
}

.line-1 {
  background: var(--lightest);
  width: 30px;
  height: 6px;
  transition: var(--main-transition);
}

.line-2 {
  margin-top: 4px;
  background: var(--lightest);
  width: 18px;
  height: 4px;
  animation-name: move;
  transition: var(--main-transition);
}

.line-3 {
  margin-top: 4px;
  background: var(--lightest);
  width: 12px;
  height: 2px;
  transition: var(--main-transition);
}

.hamburger:hover .line-1 {
  background: var(--pink);
}

.hamburger:hover .line-2 {
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  background: var(--pink);
}

.hamburger:hover .line-3 {
  animation-name: move-two;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  background: var(--pink);
}

@keyframes move {
  0% {
    margin: 4px 0 0 0;
  }
  25% {
    margin: 4px 4px 0 0;
  }
  50% {
    margin: 4px 0 0 0;
  }
  75% {
    margin: 4px 0 0 4px;
  }
  100% {
    margin: 4px 0 0 0;
  }
}

@keyframes move-two {
  0% {
    margin: 4px 0 0 0;
  }
  25% {
    margin: 4px 0 0 4px;
  }
  50% {
    margin: 4px 0 0 0;
  }
  75% {
    margin: 4px 4px 0 0;
  }
  100% {
    margin: 4px 0 0 0;
  }
}

video {
  width: 100%;
}

.hero-image {
  display: none;
}

.hidden-menu img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hidden-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hidden-menu {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  color: var(--lightest);
  background: var(--darkest);
  clip-path: inset(0 0 100% 0);
  transition: all 0.4s ease-in-out;
  padding: 8rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden-menu ul {
  list-style: none;
  z-index: 5;
  color: var(--lightest);
}

.hidden-menu ul li {
  font-size: 2rem;
  padding: 2rem 0rem;
}

.hidden-menu a {
  transition: var(--main-transition);
}

.hidden-menu a:hover {
  color: var(--pink);
}

.hidden-menu h2 {
  font-size: 4rem;
}

.hidden-menu span {
  color: var(--cyan);
}

.hidden-menu p {
  font-size: 2rem;
  margin-top: var(--text-spacer);
}

.hidden-menu.active {
  height: 100vh;
  clip-path: inset(0 0 0 0);
}

.page-container {
  overflow: hidden;
  padding: var(--container-padding);
  font-family: "Slabo 27px", serif;
}

.page-section {
  background: var(--darkest);
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2rem;
  color: #fff;
  position: relative;
}

.section-one,
.section-two,
.section-three {
  height: 100vh;
}

.section-text-content {
  width: 100%;
  background: var(--darkest);
  padding: 2rem 3rem;
  position: relative;
}

.section-text-content h2 {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--pink);
  margin: var(--text-spacer);
}

.section-text-content p {
  font-size: 1.3rem;
  color: var(--lightest);
  margin: var(--text-spacer);
}

.section-text-content button,
form button {
  background: var(--darkest);
  margin: 1rem 0rem;
  color: var(--cyan);
  outline: none;
  border: solid 2px var(--cyan);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  transition: var(--main-transition);
}

.section-text-content button:hover,
form button:hover {
  background: var(--cyan);
  border: solid 2px var(--darkest);
  color: var(--darkest);
}

.page-section img {
  width: 100%;
  max-width: 700px;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  margin-right: 2rem;
}

.text-reveal {
  position: absolute;
  background: var(--darkest);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cyber-zoo-container {
  height: 100%;
}

.cyber-zoo-container h3 {
  color: var(--pink);
  font-size: 3rem;
}

.cyber-zoo-container p {
  color: var(--lightest);
  font-size: 2rem;
  margin-top: 2rem;
}

.grid-section {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  margin-left: -1rem;
  margin-right: 1rem;
  width: 100%;
}

.grid-section-reveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--darkest);
}

.grid-section h3 {
  font-size: 2rem;
}

.grid-section img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  object-position: top;
  object-fit: cover;
  margin-top: 2rem;
}

.grid-section p {
  font-size: 1.3rem;
}

.form-section {
  color: var(--lightest);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 16rem;
}

.form-section h3 {
  color: var(--pink);
  font-size: 3rem;
}

.form-section p {
  font-size: 2rem;
  margin: var(--text-spacer);
}

label {
  font-size: 1.5rem;
}

input,
textarea {
  width: 100%;
  max-width: 350px;
}

#name,
#email,
#message {
  display: block;
  font-size: 1.3rem;
  font-family: "Slabo 27px", serif;
  border: ridge 2px var(--cyan);
  background: none;
  color: var(--lightest);
  padding: 0.4rem;
}

footer {
  margin-top: 18rem;
  padding: 2rem 0rem;
  color: var(--lightest);
  font-size: 1.2rem;
}

footer span {
  color: var(--cyan);
}

.menu-span {
  color: var(--pink) !important;
}

.section-three {
  margin-bottom: 4rem;
}

/* Tablet ------------------------------------------- */

@media screen and (max-width: 1200px) {
  header {
    padding: 1rem 1rem;
    top: 0;
  }

  video {
    display: none;
  }

  .hero-image {
    display: inline-block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .page-container {
    padding: 1rem 1rem;
    margin-top: 4rem;
  }

  .hidden-menu {
    padding: 1rem 1rem;
  }

  .hidden-menu ul li {
    font-size: 1.5rem;
  }

  .hidden-menu h2 {
    font-size: 3rem;
  }

  .hidden-menu span {
    color: var(--cyan);
  }

  .hidden-menu p {
    font-size: 1.5rem;
  }

  .page-section {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8rem 0rem;
    height: 100%;
  }

  .section-three {
    margin-bottom: 16rem;
  }

  .section-text-content {
    width: 100%;
    border: none;
    padding: 1rem 0rem;
  }

  .section-text-content h2 {
    font-size: 3rem;
  }

  .section-text-content p {
    font-size: 1.2rem;
  }

  .page-section img {
    max-height: 400px;
    margin: 0;
    max-width: 100%;
  }

  .cyber-zoo-container {
    height: 100%;
    margin-bottom: 6rem;
  }

  .cyber-zoo-container h3 {
    color: var(--pink);
    font-size: 3rem;
  }

  .cyber-zoo-container p {
    font-size: 1.5rem;
  }

  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-section h3 {
    font-size: 2rem;
  }

  .grid-section p {
    font-size: 1.2rem;
  }

  .form-section p {
    font-size: 1.5rem;
  }

  label {
    font-size: 1.25rem;
  }

  footer {
    padding: 1rem 0rem;
    font-size: 1rem;
  }
}

/* Mobile ------------------------------------------------- */

@media screen and (max-width: 768px) {
  header {
    padding: 0.25rem 1rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .hidden-menu ul li {
    font-size: 1.25rem;
  }

  .hidden-menu h2 {
    font-size: 2rem;
  }

  .hidden-menu span {
    color: var(--cyan);
  }

  .hidden-menu p {
    font-size: 1.25rem;
  }

  .page-section img {
    max-height: 300px;
  }

  .section-text-content h2 {
    font-size: 2.5rem;
  }

  .section-text-content p {
    font-size: 1.25rem;
  }

  .cyber-zoo-container {
    margin-bottom: 6rem;
  }

  .cyber-zoo-container h3 {
    color: var(--pink);
    font-size: 2.5rem;
  }

  .cyber-zoo-container p {
    font-size: 1.5rem;
  }

  .grid-section h3 {
    font-size: 1.5rem;
  }

  .grid-section p {
    font-size: 1.25rem;
  }

  .grid-section {
    grid-template-columns: 1fr;
  }

  .grid-section div {
    padding: 1rem 0rem;
    margin: 0;
  }

  .form-section {
    padding-top: 0;
  }

  .form-section h3 {
    font-size: 2.5rem;
  }

  .form-section p {
    font-size: 1.25rem;
  }

  footer {
    padding: 0;
    text-align: center;
    margin-top: 6rem;
  }

  footer span {
    display: block;
  }
}
